
.login-sign-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  width: 100%;
  font-family: var(--heading-font-family);
}
.login-sign {
  width: 400px;
  height: 420px;
  padding: 20px;
  box-shadow: 10px 10px 20px #d8d8db, -10px -10px 20px #ffffff;
  border-radius: 10px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form h2 {
  margin-bottom: 20px;
  color: var(--primary-color);
}
form .input {
  background-color: var(--main-white);
  padding: 15px 30px;
  width: 250px;
  font-size: 20px;
  margin-bottom: 25px;
  box-shadow: inset 5px 5px 10px #dddde0, inset -5px -5px 10px #ffffff;
  border: none;
  border-radius: 10px;
}
.input:focus {
  border: none;
  outline: none;
}
.submit-btn {
  padding: 10px 30px;
  border: none;
  width: 250px;
  font-size: 20px;
  background-color: var(--primary-color);
  color: var(--main-white);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #babecc, -5px -5px 10px #ffffff73;
}
.wrong {
  color: red;
  text-align: center;
}
.successWrapper {
  text-align: center;
}
.nav-entry {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  width: 100%;
  margin-bottom: 35px;
}
.nav-entry li {
  list-style: none;
  width: 50%;
  text-align: center;
  color: var(--primary-color);
  text-transform: uppercase;
  padding: 10px 0px;
    cursor:pointer;
}
.inset {
  box-shadow: inset 5px 5px 10px #dddde0, inset -5px -5px 10px #ffffff;
  padding: 10px 15px;
}

@media screen and (max-width:450px){
  .login-sign{
    width: 90%;
  }
}
