.subject-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.subjects{
    font-family: var(--heading-font-family);
    width: 400px;
    height: 200px;
    color: var(--primary-color);
    box-shadow: 10px 10px 20px #d8d8db, -10px -10px 20px #ffffff;
    margin: 50px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.subjects:hover{
    background-color:white;
    cursor:pointer;
}
.title{
    font-size: 2rem;
    font-weight: bolder;
}
.author{
    font-size: 1.5rem;
    font-weight: bold;
}
.SubWrapper{
    text-align:center;
}
.message{
    padding:10px;
    border:1px solid black;
    margin:15px;
    border-radius:20px;
}
.msgbox{
    width:80%;
    background-color:white;
    height:500px;
    overflow:auto;
    margin:auto;
}